/* Colors */
:root {
    --main-bg-color: #0b0c10;
    --main-text-color: white;
    --primary-color: #66fcf1;
    --secondary-color: #45a29e;
}

html {
    scroll-behavior: smooth;
}

/* Body */
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

/* Text Selection */
::selection {
    background-color: rgb(102, 252, 241);
    color: var(--main-bg-color);
}

/* Name Heading */
#nameHeading {
    margin-top: 5vw;
}

/* Heading */
h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 3vw;
}

/* Two Division */
.twoDivision {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-wrap: wrap;
    z-index: 999;
    background-image: linear-gradient(
        rgba(110, 242, 233, 0.6),
        rgba(4, 4, 5, 0.5)
    );
    box-shadow: #545660 0.5vw 0.5vw 1vw;
}

/* Inner Navbar */
.innerNavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(rgba(69, 180, 175, 0.8), #1f2833);
    border-radius: 1vw;
    flex-wrap: wrap;
    color: white;
}

/* Navbar Items */
.navbar .navItem {
    padding: 0.5vw 1vw;
    margin: 0.5vw;
    border: 0.1vw solid var(--primary-color);
    border-radius: 0.5vw;
    cursor: pointer;
}

/* Animation - Tracking In Contract */
@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1vw;
        opacity: 0.2;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

/* Apply Animation */
.applyAnimation {
    animation-name: tracking-in-contract;
    animation-duration: 5s;
}

/* Sam Image */
#samImage {
    width: 30vw;
}

/* Achievements Page */
#achievementsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Achievement */
#achievementsPage #achievement {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 1vw;
    border-radius: 0.5vw;
    border: 0.3vw solid var(--secondary-color);
}

/* Achievement Details */
#achievementsPage #achievement div {
    margin: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Achievement Title */
#achievementsPage #achievement .title,
.institution .title {
    font-size: 2vw;
    border: 0.3vw solid var(--secondary-color);
    text-align: center;
    min-height: 15vh;
}

/* Achievement Description */
#achievementsPage #achievement .desc {
    min-height: 20vh;
}

/* Institution Title */
.institution .title {
    min-height: 0;
}

/* Achievement Image */
#achievementsPage #achievement .image img {
    width: 30vw;
    height: 30vh;
    object-fit: contain;
}

/* Achievement Button */
#achievementsPage #achievement .button {
    background-color: var(--secondary-color);
    color: white;
}

/* Achievement Link */
#achievementsPage #achievement a {
    text-decoration: none;
}

/* Institution */
.institution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Institution Title */
.institution .title {
    width: 100%;
    margin-top: 1vw;
}

/* Institution Image */
.institution img {
    width: 30vw;
    margin: 1vw;
}

/* Institution Description */
.institution .desc {
    margin: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

/* Iframe */
iframe {
    width: 70%;
}

/* Social Icons */
.socials {
    width: 3vw;
    margin: 1vw;
    cursor: pointer;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

/* Contact Icons */
.contactIcons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    /* border: 2px solid white; */

}

/* Contact Unit Detail */
.contactUnitDetail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--main-bg-color);
    /* border: 2px solid red; */
    width: 100%;
}

/* LinkedIn */
.linkedin {
    background-image: linear-gradient(
        30deg,
        rgb(65, 125, 205),
        rgb(15, 75, 155)
    ) !important;
    color: white;
}

/* WhatsApp */
.whatsapp {
    background-image: linear-gradient(
        30deg,
        rgb(0, 185, 79),
        rgb(0, 235, 119)
    ) !important;
    color: white;
}

/* Instagram */
.instagram {
    background-image: linear-gradient(
        30deg,
        rgb(145, 27, 186),
        rgb(193, 45, 156),
        rgb(251, 223, 1)
    );
    color: white;
}

/* Gmail */
.gmail {
    background-image: linear-gradient(
        30deg,
        rgb(207, 216, 220),
        rgb(245, 67, 54)
    ) !important;
    color: black;
}

/* GitHub */
.github {
    background-image: linear-gradient(
        30deg,
        rgb(70, 70, 70),
        rgb(20, 20, 20)
    ) !important;
    color: white;
}

/* Call */
.call {
    background-image: linear-gradient(
        30deg,
        white,
        rgb(33, 150, 243)
    ) !important;
}

.discord{
    background-image: linear-gradient(30deg, rgb(90, 110, 195), rgb(140, 160, 245)) !important;
    color: white;
}

/* Contact Unit Methods */
.contactUnitMethods {
    position: relative;
    width: 30vw;
    padding: 1vw;
    background-color: var(--primary-color);
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5vw;
    margin: 0.5vw;
}

/* Contact Unit Methods Borders */
.contactUnitMethods::before,
.contactUnitMethods::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 50%;
    border: 0.5vw groove rgba(255, 255, 255, 0.5);
}

.contactUnitMethods::before {
    left: 0;
    border-right: none;
    border-bottom: none;
    transform: skewY(45deg);
}

.contactUnitMethods::after {
    right: 0;
    border-left: none;
    border-top: none;
    transform: skewY(-45deg);
}

/* Links */

a {
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    display: inline-block;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color); /* Change color as desired */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}

/* Images */
img {
    opacity: 0;
}

/* Image Animations */
@keyframes imageAnimations {
    0% {
        transform: translateY(-5vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.applyImageAnimations {
    animation: imageAnimations 3s;
}

.QRDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.degree{
    color: #66fcf1;
}

.QRDiv img {
    width: 20vw;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
    /* Body */
    body {
        font-size: 3.5vw;
    }

    /* Navbar */
    .navbar {
        background-color: var(--secondary-color);
        color: black;
        background-image: none;
    }

    /* Navbar Items */
    .navbar .navItem {
        border-color: white;
    }

    /* Name Heading */
    #nameHeading {
        margin-top: 20vw;
    }

    /* Main Heading */
    h1 {
        font-size: 10vw;
    }

    /* Sam Image */
    #samImage {
        width: 70vw;
    }

    /* Two Division */
    .twoDivision {
        flex-direction: column;
    }

    /* Achievements Page */
    #achievementsPage #achievement {
        min-width: 45%;
    }

    /* Achievement Titles */
    #achievementsPage #achievement .title,
    .institution .title {
        font-size: 5vw;
    }

    /* Achievement Images */
    #achievementsPage #achievement .image img {
        width: 40vw;
        margin: 0;
        padding: 0;
    }

    #achievementsPage #achievement .image {
        width: 40vw;
        padding: 0;
        margin: 0.5vw;
    }

    /* Iframe */
    iframe {
        height: 50vh;
    }

    /* Achievement Description */
    #achievementsPage #achievement .desc {
        min-height: 25vh;
    }

    /* Achievement Images on Small Devices */
    #achievementsPage #achievement .image img {
        width: 30vw;
        height: 20vh;
        object-fit: contain;
    }

    /* Social Icons on Small Devices */
    .socials {
        width: 8vw;
        margin: 3vw;
    }

    /* Institution Images on Small Devices */
    .institution img {
        width: 80vw;
    }

    /* Certificates Images on Small Devices */
    .certificates img {
        width: 40vw !important;
    }

    /* Contact Section on Small Devices */
    .contact {
        flex-direction: column;
    }

    /* Contact Unit Methods on Small Devices */
    .contactUnitMethods {
        width: 100%;
    }

    /* Iframe on Small Devices */
    iframe {
        width: 90%;
    }

    /* Institution on Small Devices */
    .institution {
        margin-bottom: 10vw;
    }

    .contactUnitMethods {
        padding: 2vw;
    }

    .QRDiv img {
        width: 30vw;
    }
}
